#home { ;
    background: url('https://images-na.ssl-images-amazon.com/images/I/61%2BenaYF-wL._AC_SL1500_.jpg') no-repeat 0px 0px white;
    background-size: 100%;
    background-attachment: fixed;
}

#page2-background { ;
    background: url('https://www.kiplinger.com/slideshow/college/T012-S001-best-and-worst-liberal-arts-majors-for-your-career/images/intro.jpg') no-repeat 0px 0px white;
    background-size: 100%;
    background-attachment: fixed;
}

#index-background { ;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRNth8fcAKL_0TZMPIuEJwal8ZCQIo9fnjOxKJmKh877S7z5qrn&usqp=CAU') no-repeat 0px 0px white;
    background-size: 100%;
    background-attachment: fixed;
}
.tumadre {
    float:right;
    opacity:0;
}
.tumadre:hover {
    opacity:1;
}


h2{text-align:center; font-size:50px;}
 
p{border:2px solid red;
   background-color:#9EB2F7;
    text-align:center}

p{border:2px solid black;}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  -webkit-transition:all 0.5s;
}
1 #ddd  #E26F25 
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #224982 #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: Orange;
  color: Black;
}

.text-content {
    width: 50%;
    margin: auto;
}

.home-text-content {
    margin: 220px auto;
}

.title {
    font-size: 60px;
}
